@model SDO.Models.AnnouncementModel
@{

}
@section buttons {
    <script type="text/javascript">
        toolBar.add({
            type: 'button',
            text: '@i18N.Button.B09',
            click: function () {
                $.post('@Url.Action("SaveUploads", "Upload")',
                    { fileNames: $('#ATTACH_NAME', '#frmUpdate').val().split(',') },
                    function (result) {
                        $('#ATTACH_NAME', '#frmUpdate').val(result);
                        $('#frmUpdate').submit();
                });
            }
        });
    </script>
}
@section forms {
}
@using (Ajax.BeginForm("Update", "Announcement", null, new AjaxOptions
{
    OnSuccess = "alertSuccess",
    OnFailure = "alertMessage"
}, new { id = "frmUpdate" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SID)
    <table>
        <tr>
            <th>@Html.LabelFor(m => m.TITLE)</th>
            <td>
                @Html.TextBoxFor(m => m.TITLE)
                @Html.ValidationMessageFor(m => m.TITLE)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.EFFECTIVE_DATE)</th>
            <td>
                @Html.TextBoxFor(m => m.EFFECTIVE_DATE, new { @Value = Model.EFFECTIVE_DATE.ToString("yyyy/MM/dd") })
                @Html.Partial("_TWDatetime", new ViewDataDictionary { { "ID", "EFFECTIVE_DATE" }, { "DISPLAYTIME", false } })
                ~
                @Html.TextBoxFor(m => m.EXPIRE_DATE, new { @Value = Model.EXPIRE_DATE.ToString("yyyy/MM/dd") })
                @Html.Partial("_TWDatetime", new ViewDataDictionary { { "ID", "EXPIRE_DATE" }, { "DISPLAYTIME", false }, { "CASCADEFROM", "EFFECTIVE_DATE" } })
                @Html.ValidationMessageFor(m => m.EFFECTIVE_DATE)
                @Html.ValidationMessageFor(m => m.EXPIRE_DATE)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.COMMENT)</th>
            <td>
                <textarea id="COMMENT" name="COMMENT">@HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(Model.COMMENT))</textarea>
                @Html.ValidationMessageFor(m => m.COMMENT)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(m => m.ATTACH_NAME)</th>
            <td>
                @Html.HiddenFor(m => m.ATTACH_NAME)
                @Html.Partial("_FileUploader", new ViewDataDictionary { { "ID", "ATTACH_NAME" }, { "MULTIPLE", true } })
            </td>
        </tr>
    </table>
}
@section scripts {
    <script type="text/javascript">
        function alertSuccess(result) {
            alertMessage(result, function () {
                parent.location.reload();
            });
        }
        $(function () {
            $("#COMMENT").kendoEditor({
                tools: ["bold", "italic", "underline", "strikethrough", "justifyLeft", "justifyCenter", "justifyRight", "justifyFull", "insertUnorderedList", "insertOrderedList", "indent", "outdent", "createLink", "unlink", "insertImage", "insertFile", "subscript", "superscript", "tableWizard", "createTable", "addRowAbove", "addRowBelow", "addColumnLeft", "addColumnRight", "deleteRow", "deleteColumn", "viewHtml", "formatting", "cleanFormatting", "fontName", "fontSize", "foreColor", "backColor", "print"]
            });
        });
    </script>
}

