
@{
    ViewBag.Title = Resources.MvcSitemap.Sysop_8;
}
@section buttons {
    <script>
        toolBar.add({
            id: 'btnQuery',
            type: 'button',
            text: '查詢',
            overflow: 'never',
            click: function () {
                setGrid();
            }
        });
    </script>
}
@section forms {
    <form id="frmQuery">
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <th>@Html.Label(i18N.Label.SqlLog_LOG_DATE)</th>
                <td>
                    @Html.TextBox("qryLOG_DATE", DateTime.Now.ToString("yyyy/MM/dd"))
                    @Html.Partial("_TWDatetime", new ViewDataDictionary { { "ID", "qryLOG_DATE" }, { "DISPLAYTIME", false } })
                </td>
            </tr>
        </table>
    </form>
}
<div id="grid"></div>
<script>
    var grid = $('#grid').kendoGrid({
        columns: [
            {
                template: function (e) {
                    return $('<span />').attr('title', e.USER_IP).text(e.USER_ID).prop('outerHTML');
                }
            },
            { field: 'REQUEST_URL', title: '程式路徑' },
            {
                template: function (e) {
                    return parseTWDatetime(e.LOG_DATE);
                }, title: '日誌時間', width: 150
            }
        ],
        detailInit: function (e) {
            e.detailCell.append($('<div />').css('white-space','pre-wrap').text(htmlDecode(e.data.COMMANDTEXT)).attr('title', htmlDecode(e.data.PARAMETERS)));
        }
    }).data('kendoGrid');
    function setGrid() {
       grid.genGrid({
            url: '@Url.Action("QueryPageable", "SqlLog")',
            data: {
                log_date: $('#frmQuery input[name=qryLOG_DATE]').val()
            }
       });
    }
</script>
@section scripts {
    <script>
        $(function () {
            $('#btnQuery').click();
        });
    </script>
}