@model SDO.Models.SetParamItemModel
@{

}
@section buttons {
	<script>
        toolBar.add({
            type: 'button',
            text: '@i18N.Button.B09',
            click: function () {
                $('#frmUpdate').submit();
            }
        });
        toolBar.add({
            type: 'button',
            text: '@i18N.Button.B10',
            click: function () {
                $('#frmUpdate').resetForm();
            }
        });
	</script>
}
@using (Ajax.BeginForm("UpdateItem", "SetParam", null, new AjaxOptions
{
	OnSuccess = "alertSuccess",
	OnFailure = "alertMessage"
}, new { id = "frmUpdate" }))
{
	@Html.AntiForgeryToken()
	<table>
		<tr>
			<th>@Html.LabelFor(m => m.SET_ITEM)</th>
			<td>@Html.TextBoxFor(m => m.SET_ITEM, new { @readonly = "readonly" })@Html.ValidationMessageFor(m => m.SET_ITEM)</td>
		</tr>
		<tr>
			<th>@Html.LabelFor(m => m.SET_ITEM_NAME)</th>
			<td>@Html.TextBoxFor(m => m.SET_ITEM_NAME)@Html.ValidationMessageFor(m => m.SET_ITEM_NAME)</td>
		</tr>
		<tr>
			<th>@Html.LabelFor(m => m.MEMO)</th>
			<td>@Html.TextAreaFor(m => m.MEMO)@Html.ValidationMessageFor(m => m.MEMO)</td>
		</tr>
	</table>
}
@section scripts {
	<script>
		function alertSuccess(result) {
			alertMessage(result, function () {
				parent.winWork.close();
				parent.location.reload();
			});
		}
	</script>
}

