
@{
    ViewBag.Title = Resources.MvcSitemap.eFormModule_3;
}
@section buttons {
    <script>
        toolBar.add({
            id: 'btnQuery',
            type: 'button',
            text: '查詢',
            overflow: 'never',
            click: function () {
                $('#frmQuery').submit();
            }
        });
    </script>
}
@section forms {
    @using (Ajax.BeginForm("QueryFlow", "eForm", null, new AjaxOptions
    {
        OnSuccess = "setGrid",
        OnFailure = "alertMessage"
    }, new { id = "frmQuery" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("qryUSER_ID", (string)ViewBag.GetLoginUser().USER_ID)
    }
}
<div id="grid"></div>
<script>
    var grid = $('#grid').kendoGrid({
        columns: [
            {
                command: [{
                    name: 'sendFlow', text: '', iconClass: 'k-icon k-i-track-changes-accept', title: '進行簽核', click: function (e) {
                        e.preventDefault
                        var data = this.dataItem($(e.target).closest("tr"));
                        confirmMessage('@i18N.Message.C07', function () {
                            auditData = data;
                            setWinWork(encodeURI('@Url.Action("Audit", "eForm")/' + data.FILL_ID), '修改');
                        });
                    }, visible: function (e) {
                        return !e.HAS_SUBFLOW;
                    }
                },
                    {
                        name: 'queryFlow', text: '', iconClass: 'k-icon k-i-grid-layout', title: '流程關卡', click: function (e) {
                            e.preventDefault();
                            var data = this.dataItem($(e.target).closest("tr"));
                            setWinWork(encodeURI('@Url.Action("QueryDetail", "ActiveFlow")/' + data.FLOW_CODE), '流程關卡');
                        }
                    }]
            },
            { field: 'FORM_TYPENAME', title: '表單類型', width: 200 },
            { field: 'FILL_ID', title: '表單代碼' },
            {
                template: function (e) {
                    return $('<span />').css('color', e.EXPIRE_DAY > 0 ? 'black' : 'red').text(e.EXPIRE_DAY).prop('outerHTML');
                }, title: '剩餘簽核天數', width: 150
            }
        ],
    }).data('kendoGrid');
    function setGrid(result) {
        grid.genGrid(result);
    }
</script>
@section scripts {
    <script>
        var auditData;
        $(function () {
            $('#btnQuery').click();
        });
    </script>
}